/*General*/
/* line 3, ../sass/style.scss */
.container {
  max-width: none !important;
  /*disable responsive*/
  width: 1020px !important;
  /*disable responsive*/
}

div.jGrowl.top-right {
	top: 1.5%;
	right:4%;	
	background-color: #FFE5DD !important;
	width:90%;
}

div.jGrowl div.ui-state-highlight {
	background:none !important;
}

div.jGrowl div.jGrowl-notification {
	margin: 0px;
	border-color: #EBCCD1;
	background-color: #FFE5DD !important;
    color: #BF2F03;
	position:relative;
	width:100%;
	min-height:45px;
}
div.jGrowl div.jGrowl-header {
	background-color: #FFE5DD !important;
}
div.jGrowl div.jGrowl-message {
	font-size: 1.3em;
	background-color: #FFE5DD !important;
	text-align:center;
}

/* line 8, ../sass/style.scss */
.bg-white {
  background-color: #ffffff;
}

/* line 12, ../sass/style.scss */
.bg {
  background: url(../img/bg.jpg) repeat-y;
  background-size: contain;
}

/* line 16, ../sass/style.scss */
.btn-warning {
  background-color: #FF9C00;
  border-color: #ed8600;
}
.assessment .btn-warning {
  background-color: #6699cc;
  border-color: #4e79a3;
}

.btn-primary
{
  background-color: #6699cc;
  border-color: #4e79a3;
 }

.hqa_container .btn-warning {
  background-color: #6699cc;
  border-color: #4e79a3;
}

/* line 21, ../sass/style.scss */
.login-bg {
  background-color: #eff0f1;
}
/* line 24, ../sass/style.scss */
.login-bg .logo {
  margin-top: 20%;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

/* line 30, ../sass/style.scss */
.signatures {
  font-size: 12px;
  text-align: center;
  margin-top: 100px !important;
}
/* line 34, ../sass/style.scss */
.signatures .sign {
  border-color: #000;
  margin: auto;
  width: 250px;
}

/* line 41, ../sass/style.scss */
.sub-title {
  color: #8d8d8d;
  font-weight: normal;
  margin: 5px 0px;
}
/* line 45, ../sass/style.scss */
.sub-title strong {
  color: #333;
}

/* line 50, ../sass/style.scss */
.vcenter {
  bottom: 0px;
  margin: auto;
  position: absolute;
  top: 0px;
}

/* line 59, ../sass/style.scss */
.pagination li a {
  color: #000000;
}
/* line 61, ../sass/style.scss */
.pagination li a:hover {
  color: #000000;
}
/* line 67, ../sass/style.scss */
.pagination .active a {
  background-color: #FF9C00;
  border: 1px solid #ED8600;
}
/* line 70, ../sass/style.scss */
.pagination .active a:hover {
  background-color: #FF9C00;
  border: 1px solid #ED8600;
}
	
.menu .nav-orange {
	background: url(../img/nav-orange.jpg) left no-repeat;
	display: inline-block;
    height: 25px;
    padding-left: 25px;
    vertical-align: middle;
}

.menu .nav-blue {
	background: url(../img/nav-blue.jpg) left no-repeat;
	display: inline-block;
    height: 25px;
    padding-left: 25px;
    vertical-align: middle;
}

.menu a {
	text-decoration: none;
	color: #ff9c00;
}

.menu a.blue {
	text-decoration: none;
	color: #6699cc;
}

/*End General*/
/*Header*/
/* line 81, ../sass/style.scss */
header {
  height: 78px;
}

header .col-xs-3 {
	width: 20%;
}

header .col-xs-5 {
	width: 46%;
}

header .orange-line {
	width: 100%;
	background-color: #FF9C00;
	height: 8px;
	margin-top: -1px;
}

header .blue-line  {
	width: 100%;
	background-color: #6699cc;
	height: 8px;
	margin-top: -1px;
}

header .no-padding {
	padding: 0px;
}

header .tabs a {
	 color: #FFFFFF;
	 text-decoration: none;
}

header .tabs {
    color: #FFFFFF;
    height: 70px;
    line-height: 70px;
    text-align: center;
	text-transform: uppercase;
	 font-weight: bold;
}

header .tab-orange {
	background-color: #FF9C00;
}

header .tab-blue{
	background-color: #6699cc;
}

/* line 83, ../sass/style.scss */
header .bs-header {
  background-color: #eff0f1;
  height: 70px;
  line-height: 70px;
  border-top: 1px solid #e1e3e4;
  border-bottom: 1px solid #e1e3e4;
}
/* line 91, ../sass/style.scss */
header .btn-header {
  margin-right: 1px;
}
/* line 95, ../sass/style.scss */
header .navbar-default {
  border-bottom: 0px;
}
/* line 99, ../sass/style.scss */
header .navbar {
  margin-bottom: 0px;
  background-color: #242424;
}
/* line 103, ../sass/style.scss */
header .logo {
  height: 70px;
  line-height: 70px;
}
/* line 108, ../sass/style.scss */
header .right-button {
  text-align: right;
}
/* line 112, ../sass/style.scss */
header .my-profile {
  line-height: 70px;
  padding-left: 5%;
  padding-right: 0px;
  float: right;
  min-width: 80%;
  text-align:right;
}

header .my-profile .caret {
	margin-left: 10px;
}

/* line 118, ../sass/style.scss */
.my-profile .dropdown-menu{
  padding: 0px;
  margin: 0px;
  min-width: 35%;
  border-radius: 4px;
  left: 303px;
  background-color: #F8F8F8;
  box-shadow: 0 11px 12px rgba(0, 0, 0, 0.176);
  float: right;
  text-align:left;
  top: 50px;
}
/* line 130, ../sass/style.scss */
.my-profile .dropdown-menu li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 130, ../sass/style.scss */
.my-profile .dropdown-menu li a {
  padding: 10px 10px;
  color: #4d4d4d;
}
/* line 132, ../sass/style.scss */
.my-profile .dropdown-menu li a:hover {
  background-color: #ff9c00;
  color: #ffffff;
}
.my-profile .dropdown-menu.hqa li a:hover {
  background-color: #6699cc;
  color: #fff;
}


.dropdown-menu.hqa li:first-child a:hover, .dropdown-menu li:first-child a:hover {
  border-radius: 3px 3px 0 0;
}

/* line 140, ../sass/style.scss */
header .my-profile a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
 
}

/*End header*/
/*Login*/
/* line 152, ../sass/style.scss */
.login {
  background-color: #ffffff;
  border: 1px solid #e1e3e4;
  margin: 0px auto;
  padding: 20px 0px 0px 0px;
  width: 82%;
}
.login.reset{
  padding: 0;
  margin-bottom: 20px;
}
.login.reset #reset{
  color: #fff;
}
.login.reset .form-group label{
  display: none;
}
.login .ui-dialog-titlebar{
  display: none;
}
/* line 159, ../sass/style.scss */
.login .login-label {
  text-align: center;
  margin-bottom: 30px;
}
/* line 162, ../sass/style.scss */
.login .login-label p {
  color: #8d8d8d;
}
/* line 167, ../sass/style.scss */
.login .submit-bg {
  background-color: #f7f7f7;
  border-top: 1px solid #e1e3e4;
  padding: 20px 55px 20px 55px;
}
/* line 172, ../sass/style.scss */
.login .submit-bg .btn {
  width: 100%;
}

.submit-bg .btn-two-columns {
	 width: 49% !important;
}

/* line 177, ../sass/style.scss */
.login .glyphicon {
  color: #8d8d8d;
}
/* line 181, ../sass/style.scss */
.login .submit-form {
  width: 77%;
  margin: 0px auto;
}
/* line 185, ../sass/style.scss */
.login .submit-form .forgot-password {
  color: #ff9c00;
  font-weight: bold;
  text-align: right;
  background: url(../img/orange-question.jpg) left no-repeat;
  margin-bottom: 30px;
  float: right;
  width: 58%;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
}
/* line 199, ../sass/style.scss */
.login .input-group {
  margin-bottom: 30px;
}
/* line 203, ../sass/style.scss */
.login .input-group-addon {
  background: none;
}
/* line 206, ../sass/style.scss */
.login .form-control {
  border-left: none;
  color: #000000;
  font-size: 115%;
}

/*Login*/
/*Aside column*/
/* line 216, ../sass/style.scss */
.pointer {
  background-image: url(../img/employee-active.jpg);
  height: 74px;
  left: 320px;
  position: absolute;
  top: 120px;
  width: 12px;
  z-index: 100;
  display: none;
}
/* line 225, ../sass/style.scss */
.pointer.active {
  display: block;
}

/* line 230, ../sass/style.scss */
aside {
  overflow-y: scroll;
  height: 100%;
  position: fixed;
}
/* line 234, ../sass/style.scss */
aside .tab-content {
  top: 120px;
  background-color: #EFF0F1;
  width: 320px;
  position: relative;
}
aside .tab-content.lead-view{
  top:70px;
}
/* line 240, ../sass/style.scss */
aside .employees-search {
  position: fixed;
  z-index: 10;
  width: 320px;
}
/* line 245, ../sass/style.scss */
aside .search {
  background-color: #EFF0F1;
  border-color: #333333 -moz-use-text-color #000000;
  border-radius: 0;
  border-style: none;
  border-width: 1px 0;
  color: #FFFFFF;
  height: 70px;
  margin-bottom: 0;
}
/* line 254, ../sass/style.scss */
aside .search .input-group {
  width: 80%;
  margin: 0 auto;
  padding-top: 17px;
}
/* line 261, ../sass/style.scss */
aside .nav-tabs > li {
  width: 33.333333%;
  border: 1px solid #333333;
}
/* line 264, ../sass/style.scss */
aside .nav-tabs > li:hover {
  border: 1px solid #ed8600;
}
/* line 267, ../sass/style.scss */
aside .nav-tabs > li > a {
  border-radius: 0px;
  margin-right: 0px;
  text-align: center;
  background-color: #242424;
  color: #ffffff;
  padding: 13px;
  font-weight: 400;
}
/* line 275, ../sass/style.scss */
aside .nav-tabs > li > a:hover {
  background-color: #ff9c00;
  color: #ffffff;
  border: 1px solid #ed8600;
}
/* line 282, ../sass/style.scss */
aside .nav-tabs .active {
  border: 1px solid #ed8600;
}
/* line 284, ../sass/style.scss */
aside .nav-tabs .active a {
  background-color: #ff9c00;
  color: #ffffff;
  border: 1px solid #ed8600;
}
/* line 289, ../sass/style.scss */
aside .nav-tabs .active a:hover {
  background-color: #ff9c00;
  color: #ffffff;
  border: 1px solid #ed8600;
}
/* line 294, ../sass/style.scss */
aside .nav-tabs .active a:focus {
  background-color: #ff9c00;
  color: #ffffff;
  border: 1px solid #ed8600;
}
/* line 305, ../sass/style.scss */
aside .list-group {
  margin-bottom: 0px;
}
/* line 307, ../sass/style.scss */
aside .list-group .list-group-item {
  background-color: #EFF0F1;
  color: #333333;
 
  border-top: 1px solid #d1d1d2;
  height: 75px;
  margin-bottom: 0px;
  border-radius: 0px;
  border-right: 0px;
  border-left: 0px;
}
/* line 318, ../sass/style.scss */
aside .list-group .list-group-item:hover {
  background-color: #DEDEDE;
}
/* line 321, ../sass/style.scss */
aside .list-group .list-group-item .employee-list {
  float: right;
  padding-left: 15px;
  width: 81%;
  padding-top: 5px;
}
/* line 327, ../sass/style.scss */
aside .list-group .list-group-item .employee-list span {
  color: #9d9d9d;
}
/* line 333, ../sass/style.scss */
aside .list-group .active-arrow {
  background-color: #474646;
}
/* line 336, ../sass/style.scss */
aside .list-group .active {
  background-color: #000000;
  color: #ffffff;
}
/* line 339, ../sass/style.scss */
aside .list-group .active:hover {
  background-color: #000000;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #333333;
}

/*End Aside column*/
/*Dashboard*/
/* line 354, ../sass/style.scss */
.dashboard .alert-danger, .profile .alert-danger {
  background-color: #FFE5DD;
  color: #bf2f03;
}

h2 {
	 margin-bottom:30px;
   border-bottom: 1px solid #d3d3d3; 
   font-size: 16px;
   padding-bottom: 26px;
   margin-top: 27px;
} 

.dashboard h2 {
   margin-bottom:30px;
   border-bottom: 1px solid #d3d3d3; 
   font-size: 16px;
   padding-bottom: 26px;
   margin-top: 27px;
}

/* line 358, ../sass/style.scss */
.dashboard .last-login, .profile .last-login {
  color: #9f9f9f;
  margin-bottom: 40px;
}
/* line 363, ../sass/style.scss */
.dashboard .btn-add-employee, .profile .btn-add-employee {
  float: right;
}
/* line 367, ../sass/style.scss */
.dashboard .row, .profile .row {
  margin: 30px 0px;
}
/* line 371, ../sass/style.scss */
.dashboard .employees-review-msj, .profile .employees-review-msj {
  height: 100px;
  line-height: 100px;
}
/* line 374, ../sass/style.scss */
.dashboard .employees-review-msj p, .profile .employees-review-msj p {
  color: #686868;
}
/* line 376, ../sass/style.scss */
.dashboard .employees-review-msj p strong, .profile .employees-review-msj p strong {
  color: #000000;
}
/* line 382, ../sass/style.scss */
.dashboard .employees, .profile .employees {
  background-color: #f7f7f7;
  border: 1px #cccecf solid;
  border-radius: 4px;
  padding: 10px;
  min-height: 70px;
  display: inline-block;
  width: 100%;
}

.panel-body {
	background-color: #ffffff !important; 
}

/* line 389, ../sass/style.scss */
.dashboard .employees .btn-group, .profile .employees .btn-group {
  padding-top: 8px;
}
.hqa_container .dashboard .employees .btn-group, .hqa_container .profile .employees .btn-group {
  float: right;
}
/* line 391, ../sass/style.scss */
.dashboard .employees .btn-group .dropdown-menu, .profile .employees .btn-group .dropdown-menu {
  margin: -2px 0px;
  padding: 0px;
  min-width: 115px;
  left: -82px;
}

.maintenanceTeam .btn-group ul li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/* line 397, ../sass/style.scss */
.dashboard .employees .btn-group .dropdown-menu li a, .profile .employees .btn-group .dropdown-menu li a {
  font-weight: bold;
  padding: 7px 5px;
}
/* line 400, ../sass/style.scss */
.dashboard .employees .btn-group .dropdown-menu li a:hover, .profile .employees .btn-group .dropdown-menu li a:hover {
  color: #ffffff;
  background-color: #ff9c00;
}
.hqa_container .dashboard .employees .btn-group .dropdown-menu li a:hover, .hqa_container .profile .employees .btn-group .dropdown-menu li a:hover {
  color: #ffffff;
  background-color: #6699cc;
}
/* line 406, ../sass/style.scss */
.dashboard .employees .btn-group .dropdown-menu .divider, .profile .employees .btn-group .dropdown-menu .divider {
  margin: 0px;
}
/* line 412, ../sass/style.scss */
.dashboard .employees .img-circle, .profile .employees .img-circle {
  float: left;
}
/* line 416, ../sass/style.scss */
.dashboard .employees .employee-name {
  float: left;
  width: 69%;
  padding-top: 5px;
  padding-left: 15px;
  font-size: 12px;
  min-height: 55px;
}

.profile .employees .employee-name {
  float: left;
  width: 65%;
  padding-top: 5px;
  padding-left: 15px;
  font-size: 12px;
}

.hqa_container #survey .employees .employee-name, .hqa_container #survey .profile .employees .employee-name {
  float: left;
  width: 80%;
  padding-top: 15px;
  padding-left: 5px;
  font-size: 15px;
}
/* line 422, ../sass/style.scss */
.dashboard .employees .employee-name span, .profile .employees .employee-name span {
  color: #9d9d9d;
}
/* line 426, ../sass/style.scss */
.dashboard .employees .maintenance, .profile .employees .maintenance {
  float: left;
  padding-left: 15px;
  padding-top: 12px;
  width: 86%;
}
.maintenance.hover{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.employees.hover {
 /* overflow: hidden;*/
}
/* line 437, ../sass/style.scss */
.dashboard .nav-tabs li.active, .profile .nav-tabs li.active {
  border-top: 3px solid #ff9c00;
}
.hqa_container .dashboard .nav-tabs li.active, .hqa_container .profile .nav-tabs li.active {
  border-top: 3px solid #6699cc;
}
/* line 440, ../sass/style.scss */
.dashboard .nav-tabs li a, .profile .nav-tabs li a {
  border-radius: 0px;
  color: #333;
  font-weight: bold;
  margin-right: 0px;
  outline: medium none;
}
/* line 451, ../sass/style.scss */
.dashboard .tab-pane .row, .profile .tab-pane .row {
  margin: 30px 0px;
}

/*End Dashboard*/
/*Profile*/
/* line 462, ../sass/style.scss */
.profile #add-field {
  cursor: pointer;
  margin-bottom: 20px;
}
/* line 465, ../sass/style.scss */
.profile #add-field img {
  margin-right: 10px;
  margin-top: -5px;
}
/* line 470, ../sass/style.scss */
.profile #add-field.disabled strong {
  color: #999999;
  cursor: not-allowed;
}
/* line 476, ../sass/style.scss */
.profile .send-forms {
  margin-bottom: 20px;
}
/* line 479, ../sass/style.scss */
.profile .start-review {
  margin-bottom: 20px;
}
/* line 482, ../sass/style.scss */
.profile .or {
  color: #9F9F9F;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 488, ../sass/style.scss */
.profile .fields .row {
  margin: 12px 0px;
}
/* line 490, ../sass/style.scss */
.profile .fields .row input[type=text] {
  border-radius: 3px;
  color: #000000;
}
/* line 496, ../sass/style.scss */
.profile .breadcrumb {
  background-color: #fff;
  background-image: none;
  border-bottom: 1px dotted #cccecf;
  border-radius: 0px;
  font-weight: bold;
  padding: 15px 0px;
  margin: 20px 0px;
}
/* line 504, ../sass/style.scss */
.profile .breadcrumb a {
  text-decoration: none;
  color: #000000;
}
/* line 508, ../sass/style.scss */
.profile .breadcrumb span {
  font-weight: normal;
  top: 2px;
}
/* line 514, ../sass/style.scss */
.profile .reviews tr {
  margin-bottom: 20px;
}
/* line 519, ../sass/style.scss */
.profile .reviews thead tr th {
  border-bottom: 1px solid #DDDDDD;
}
/* line 525, ../sass/style.scss */
.profile .reviews .no-header {
  background-image: none;
  padding-left: 5px;
  cursor: default;
}
/* line 531, ../sass/style.scss */
.profile .reviews td {
  color: #8d8d8d;
  padding: 17px 0px 17px 10px;
  background: url(../img/border-bg.jpg) repeat-y right;
  border-bottom: 1px solid #DDDDDD;
}
/* line 536, ../sass/style.scss */
.profile .reviews td a {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
/* line 541, ../sass/style.scss */
.profile .reviews td:nth-last-child(-n+2) {
  background-image: none;
}
/* line 544, ../sass/style.scss */
.profile .reviews td:last-child {
  background-color: #f7f7f7;
  border: 1px solid #DDDDDD;
}
/* line 548, ../sass/style.scss */
.profile .reviews td:first-child {
  border-left: 1px solid #DDDDDD;
}
/* line 552, ../sass/style.scss */
.profile .reviews .in-progress {
  color: #ff3c00;
}
/* line 555, ../sass/style.scss */
.profile .reviews .completed {
  color: #2fa81c;
}
/* line 558, ../sass/style.scss */
.profile .reviews .empty-column {
  background-color: #ffffff !important;
  padding: 5px;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}
/* line 566, ../sass/style.scss */
.profile .employee-info {
  height: 100px;
  margin: 30px 0px;
}
/* line 569, ../sass/style.scss */
.profile .employee-info h3 {
  margin-top: 10px;
}
/* line 572, ../sass/style.scss */
.profile .employee-info .fill {
  height: 100%;
}
/* line 576, ../sass/style.scss */
.profile .employee-info .vcenter {
  height: 30px;
  right: 10px;
}

/*End profile*/
/*Modals*/
/* line 586, ../sass/style.scss */
.fancybox-inner {
  overflow: hidden !important;
}

/* line 590, ../sass/style.scss */
.fancybox-outer, .fancybox-inner {
  border-radius: 3px;
}

/* line 594, ../sass/style.scss */
.fancybox-close {
  height: 41px;
  right: -39px;
  top: 0;
  width: 41px;
  background-image: url("../img/fancy_box/close.png") !important;
  background-size: 41px 41px;
}

/* line 603, ../sass/style.scss */
.fancybox-skin {
  padding: 0px !important;
  border-radius: 3px;
}

/* line 608, ../sass/style.scss */
#create-employee {
  width: 670px;
}

/* line 612, ../sass/style.scss */
#add-employee {
  width: 355px;
}

/* line 616, ../sass/style.scss */
#create-question {
  width: 402px;
}

/* line 620, ../sass/style.scss */
#create-position {
  width: 390px;
}

/* line 624, ../sass/style.scss */
#delete-question {
  width: 380px;
}

/* line 629, ../sass/style.scss */
.modals .input-group {
  margin-bottom: 15px;
  width: 100%;
}

.modals .many-to-many {
	height: auto;
}

/* line 632, ../sass/style.scss */
.modals .input-group select, .modals .input-group input {
  color: #000000;
  font-size: 115%;
  border-radius: 2px !important;
}
/* line 638, ../sass/style.scss */
.modals .input-group label span {
  color: #e10000;
}
/* line 644, ../sass/style.scss */
.modals .upload {
  padding-top: 25px;
}
/* line 648, ../sass/style.scss */
.modals .submit-form {
  padding: 15px 30px;
}
/* line 650, ../sass/style.scss */
.modals .submit-form .center-field {
  width: 50%;
  padding-right: 15px;
  height: 85px;
}
/* line 657, ../sass/style.scss */
.modals .login-label h3 {
  margin: 7px 0px 7px 0px;
}
/* line 660, ../sass/style.scss */
.modals .login-label p {
  color: #8d8d8d;
  margin-bottom: 20px;
}
/* line 665, ../sass/style.scss */
.modals .submit-bg {
  background-color: #f7f7f7;
  border-top: 1px solid #e1e3e4;
  padding: 20px 30px;
}
/* line 670, ../sass/style.scss */
.modals .submit-bg .btn {
  width: 100%;
}
/* line 675, ../sass/style.scss */
.modals input.css-checkbox[type="checkbox"] {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 685, ../sass/style.scss */
.modals input.css-checkbox[type="checkbox"] + label.css-label {
  background-position: 0 -44px;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: 44px;
  line-height: 18px;
  padding-left: 55px;
  vertical-align: middle;
}
/* line 696, ../sass/style.scss */
.modals input.css-checkbox[type="checkbox"]:checked + label.css-label {
  background-position: 0 0;
}
/* line 701, ../sass/style.scss */
.modals .lite-orange-check {
  background-image: url("../img/checkbox-checked.jpg");
}
/* line 705, ../sass/style.scss */
.modals .custom-dd {
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /*Removes default style Firefox*/
  background: url(../img/select.jpg) no-repeat;
  background-position: 260px 15px;
  text-indent: 0.01px;
  /* Removes default arrow from firefox*/
  text-overflow: "";
  /*Removes default arrow from firefox*/
}

/* line 705, ../sass/style.scss */
.modals .custom-dd-blue {
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /*Removes default style Firefox*/
  background: url(../img/select-blue.jpg) no-repeat;
  background-position: 300px 15px;
  text-indent: 0.01px;
  /* Removes default arrow from firefox*/
  text-overflow: "";
  /*Removes default arrow from firefox*/
}

/* line 714, ../sass/style.scss */
.modals .custom-dd-lg {
  background-position: 300px 15px;
}
/* line 718, ../sass/style.scss */
.modals .btn-file {
  position: relative;
  overflow: hidden;
  border-radius: 2px !important;
}
/* line 722, ../sass/style.scss */
.modals .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/*End Modals*/
/*Evaluations*/
/* line 743, ../sass/style.scss */
.evaluation {
  /*.disabled {
  	background-color: #b6b7b7;
  	color: #000000;
  	font-weight: bold;
  	border: 1px solid  #cccecf;
  }*/
}
/* line 744, ../sass/style.scss */
.evaluation p {
  color: #9f9f9f;
}
/* line 748, ../sass/style.scss */
.evaluation .final-score td {
  background-color: #ffffff !important;
  font-size: 135%;
}
/* line 751, ../sass/style.scss */
.evaluation .final-score td .black {
  color: #000000;
}
/* line 755, ../sass/style.scss */
.evaluation .final-score .no-border {
  border-right: medium none !important;
  border-top: medium none !important;
  border-bottom: medium none !important;
}
/* line 761, ../sass/style.scss */
.evaluation .score {
  width: 55%;
}
/* line 764, ../sass/style.scss */
.evaluation .no-padding {
  padding: 0px;
}

/*Form Review*/
/* line 778, ../sass/style.scss */
.review .score {
  border: 1px solid #DDDDDD;
}
/* line 782, ../sass/style.scss */
.review .final-score td {
  background-color: #ffffff !important;
  font-size: 135%;
}
/* line 785, ../sass/style.scss */
.review .final-score td .black {
  color: #000000;
}
/* line 789, ../sass/style.scss */
.review .final-score .no-border {
  border-right: medium none !important;
  border-top: medium none !important;
  border-bottom: medium none !important;
}
/* line 796, ../sass/style.scss */
.review .info {
  height: 77px;
}
/* line 800, ../sass/style.scss */
.review .btn-black {
  background-color: #000000;
  color: #ffffff;
  margin-right: 10px;
}
/* line 806, ../sass/style.scss */
.review .row {
  margin: 20px 0px;
}
/* line 810, ../sass/style.scss */
.review p {
  font-weight: bold;
  color: #8d8d8d;
}
/* line 815, ../sass/style.scss */
.review .sub-title {
  font-weight: normal;
}
/* line 817, ../sass/style.scss */
.review .sub-title strong {
  font-weight: bold;
}
/* line 822, ../sass/style.scss */
.review .last-question {
  border-bottom: 1px dotted #CCCECF;
  margin-bottom: 40px;
  padding-bottom: 30px;
}
/* line 827, ../sass/style.scss */
.review .breadcrumb {
  border-bottom: 1px dotted #CCCECF;
  background-color: #ffffff;
  padding: 40px 0px 40px;
  border-radius: 0px;
  margin: 0px;
}
/* line 833, ../sass/style.scss */
.review .breadcrumb h3 {
  margin-top: 0px;
}
/* line 837, ../sass/style.scss */
.review .breadcrumb .date {
  font-weight: normal;
}
/* line 841, ../sass/style.scss */
.review .breadcrumb.up {
  border-bottom: none;
  border-top: 1px dotted #CCCECF;
  margin-top: 40px;
}
/* line 849, ../sass/style.scss */
.review .radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 30px;
  color: #8d8d8d;
}
/* line 857, ../sass/style.scss */
.review .radio label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 19px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  /* box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8); */
}
/* line 873, ../sass/style.scss */
.review .radio input[type=radio] {
  display: none;
}
/* line 877, ../sass/style.scss */
.review .radio input[type=radio]:checked + label:before {
  content: "\2022";
  color: #ff9c00;
  font-size: 52px;
  text-align: right;
  line-height: 15px;
}
/* line 884, ../sass/style.scss */
.review .radio input[type=radio]:checked + label {
  color: #ff9c00;
}

.assessment .review .radio input[type=radio]:checked + label:before {
  color: #6699cc;
}

.assessment .review .radio input[type=radio]:checked + label {
  color: #6699cc;
}

/*End form review*/
.flash-message {
  top: 95px;
  position: relative;
  left: 30px;
  background-color: #FFE5DD;
  color: #A94442;
  border-color: #EBCCD1;
  border-radius: 4px;
  width: 330px;
}
.flash-message.team{
    top: 20px;
    width: 308px;
}

#employee .maintenanceLead .employee-name{
  width: 84%;
}

#employee .maintenanceTeam .panel-body{
  background-color: #ddd;
}

#employee .maintenanceTeam .collapseLink{
  color: #ed8600;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
#employee .maintenanceTeam .collapseLink:hover{
  color: #FF9C00;
  text-decoration: underline;
}



