/* tables */

table.tablesorter thead tr .header {
	background-image: url("../img/table/bg.gif");
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding-left: 20px;
}
table.tablesorter tbody td {
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/table/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/table/desc.gif);
}
    
