---
layout: default
title: Mensajes
page: padres-notas
section: padres
---
<div class="col-md-1"></div>
<div class="mensajes col-md-10">

	<div class="row">
		<h1>Notas - Padre</h1>
	</div>
	<div class="row">
		<div class="col-md-4">
			<a href="#"><span class="glyphicon glyphicon-envelope"></span></span> Enviar Pregunta de Nota</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="notas">
				<table class="table table-striped">
			      <thead>
			        <tr>
			          <th>Materia</th>
			          <th>Profesor</th>
			          <th>Nota</th>
			          <th>Acciones</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td>Matematica</td>
			          <td>Otto</td>
			          <td>100</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Español</td>
			          <td>Thornton</td>
			          <td>100</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Estudios Sociales</td>
			          <td>the Bird</td>
			          <td>100</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Ciencias</td>
			          <td>Otto</td>
			          <td>100</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Conducta</td>
			          <td>Thornton</td>
			          <td>100</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Fisica</td>
			          <td>the Bird</td>
			          <td>100</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			      </tbody>
			    </table>
			</div>	
		</div>
	</div>
</div>
<div class="col-md-1"></div>