---
layout: default
title: Archivos
page: profesores-archivos
section: profesores
---
<div class="col-md-1"></div>
<div class="mensajes col-md-10">

	<div class="row">
		<h1>Archivos - Profesores</h1>
	</div>
	<div class="row">
		<div class="col-md-4">
			<a href="#"><span class="glyphicon glyphicon-plus"></span></span> Agregar Archivo</a>
		</div>
		<hr/>
	</div>
	<div class="row notas">
		<table class="table table-striped">
	      <thead>
	        <tr>
	          <th>De</th>
	          <th>Descripción</th>
	          <th>Fecha</th>
	          <th>Acciones</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td>Carlos Restrepo</td>
	          <td>Quien sabe que cosas?</td>
	          <td>12/65/68 22:22am</td>
	          <td>{% include actions.html %}</td>
	        </tr>
	        <tr>
	          <td>Zaturnino Rey</td>
	          <td>Quien sabe que cosas?</td>
	          <td>12/65/68 22:22am</td>
	          <td>{% include actions.html %}</td>
	        </tr>
	        <tr>
	          <td>Pablo Escobar</td>
	          <td>Quien sabe que cosas?</td>
	          <td>12/65/68 22:22am</td>
	          <td>{% include actions.html %}</td>
	        </tr>
	        <tr>
	          <td>Hernan Morales</td>
	          <td>Quien sabe que cosas?</td>
	          <td>12/65/68 22:22am</td>
	          <td>{% include actions.html %}</td>
	        </tr>
	        <tr>
	          <td>Mauricio Montero</td>
	          <td>Quien sabe que cosas?</td>
	          <td>12/65/68 22:22am</td>
	          <td>{% include actions.html %}</td>
	        </tr>
	      </tbody>
	    </table>
	  	<ul class="pagination">
		  <li><a href="#">&laquo;</a></li>
		  <li><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">&raquo;</a></li>
		</ul>
	</div>
</div>
<div class="col-md-1"></div>