---
layout: default
title: Simceg Prototype
page: home
section: padres
---

<div id="home">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
				{% include profile.html %}
		</div>
	</div>
	<div class="row hometabs">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
			  <li class="active"><a href="#schedule" role="tab" data-toggle="tab">Horario</a></li>
			  <li><a href="#notes" role="tab" data-toggle="tab">Calificaciones</a></li>
			  <li><a href="#messages" role="tab" data-toggle="tab">Mensajes</a></li>
			  <li><a href="#files" role="tab" data-toggle="tab">Archivos</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
			  <div class="tab-pane active" id="schedule">
			  	<table class="table table-bordered">
			      <thead>
			        <tr>
			        	<th>Hora</th>
						<th>Lunes</th>
						<th>Martes</th>
						<th>Miercoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td>7:00</td>
			          <td>Clase	1</td>
			          <td>Clase	2</td>
			          <td>Clase	1</td>
			          <td>Clase	2</td>
			        </tr>
			        <tr>
			          <td>7:00</td>
			          <td>Clase	1</td>
			          <td>Clase	2</td>
			          <td>Clase	1</td>
			          <td>Clase	2</td>
			        </tr>
			        <tr>
			          <td>7:00</td>
			          <td>Clase	1</td>
			          <td>Clase	2</td>
			          <td>Clase	1</td>
			          <td>Clase	2</td>
			          <td>Clase	2</td>
			        </tr>
			        <tr>
			          <td>7:00</td>
			          <td>Clase	1</td>
			          <td>Clase	1</td>
			          <td>Clase	2</td>
			          <td>Clase	2</td>
			          <td>Clase	2</td>
			        </tr>
			        <tr>
			          <td>7:00</td>
			          <td>Clase	1</td>
			          <td>Clase	2</td>
			          <td>Clase	1</td>
			          <td>Clase	2</td>
			          <td>Clase	2</td>
			        </tr>
			      </tbody>
			    </table>
			  </div>
			  <div class="tab-pane" id="notes">
			  	<table class="table table-striped">
			      <thead>
			        <tr>
			          <th>Materia</th>
			          <th>Profesor</th>
			          <th>Nota</th>
			          <th>Acciones</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td>Matematica</td>
			          <td>Otto</td>
			          <td>100</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Español</td>
			          <td>Thornton</td>
			          <td>100</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Estudios Sociales</td>
			          <td>the Bird</td>
			          <td>100</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Ciencias</td>
			          <td>Otto</td>
			          <td>100</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Conducta</td>
			          <td>Thornton</td>
			          <td>100</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Fisica</td>
			          <td>the Bird</td>
			          <td>100</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			      </tbody>
			    </table>
			  </div>
			  <div class="tab-pane" id="messages">
			  	<table class="table table-striped">
			      <thead>
			        <tr>
			          <th>De</th>
			          <th>Descripción</th>
			          <th>Fecha</th>
			          <th>Acciones</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td>Carlos Restrepo</td>
			          <td>Quien sabe que cosas?</td>
			          <td>12/65/68 22:22am</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Zaturnino Rey</td>
			          <td>Quien sabe que cosas?</td>
			          <td>12/65/68 22:22am</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Pablo Escobar</td>
			          <td>Quien sabe que cosas?</td>
			          <td>12/65/68 22:22am</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Hernan Morales</td>
			          <td>Quien sabe que cosas?</td>
			          <td>12/65/68 22:22am</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Mauricio Montero</td>
			          <td>Quien sabe que cosas?</td>
			          <td>12/65/68 22:22am</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			      </tbody>
			    </table>
			  	<ul class="pagination">
				  <li><a href="#">&laquo;</a></li>
				  <li><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#">&raquo;</a></li>
				</ul>
			  </div>
			  <div class="tab-pane" id="files">
			  	<table class="table table-striped">
			      <thead>
			        <tr>
			          <th>De</th>
			          <th>Descripción</th>
			          <th>Fecha</th>
			          <th>Acciones</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td>Carlos Restrepo</td>
			          <td>Quien sabe que cosas?</td>
			          <td>12/65/68 22:22am</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Zaturnino Rey</td>
			          <td>Quien sabe que cosas?</td>
			          <td>12/65/68 22:22am</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Pablo Escobar</td>
			          <td>Quien sabe que cosas?</td>
			          <td>12/65/68 22:22am</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Hernan Morales</td>
			          <td>Quien sabe que cosas?</td>
			          <td>12/65/68 22:22am</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			        <tr>
			          <td>Mauricio Montero</td>
			          <td>Quien sabe que cosas?</td>
			          <td>12/65/68 22:22am</td>
			          <td>{% include actions.html %}</td>
			        </tr>
			      </tbody>
			    </table>
			  	<ul class="pagination">
				  <li><a href="#">&laquo;</a></li>
				  <li><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">5</a></li>
				  <li><a href="#">&raquo;</a></li>
				</ul>
			  </div>
			</div>
		</div>
	</div>

	<!--
	<h1>Blog Posts</h1>
	<ul class="posts">
	{% for post in site.posts %}
	  <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
	</ul>

	-->
</div>